//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @include adaptiveValue("min-height", 63, 45);
  min-width: toRem(214);
  padding: 0px 0px;

  background-color: #cc1515;
  border-radius: toRem(10);

  color: #fff;
  font-family: "Inter";
  font-size: toRem(16);
  font-weight: 600;
  line-height: 130%; /* 130% */
  transition: all 0.3s linear 0s;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.2) 0 toRem(4) toRem(12);
      background-color: rgba(204, 21, 21, 0.9);
    }
  }

  &_dark {
    background-color: #262626;

    @media (any-hover: hover) {
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0 toRem(4) toRem(12);
        background-color: rgba(38, 38, 38, 0.9);
      }
    }
  }

  &_white {
    background-color: #fff;
    color: #262626;

    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: rgba(255, 255, 255, 0.3) 0 toRem(4) toRem(12);
      }
    }
  }

  &--fw {
    width: 100%;
  }
}

.button-line {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @include adaptiveValue("min-height", 65, 45);
  border-radius: toRem(10);
  border: toRem(1) solid #9b9b9b;
  width: 100%;

  color: #131010;
  font-family: "Inter";
  font-size: toRem(16);
  font-weight: 600;
  line-height: 20.752px; /* 125% */
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: #9b9b9b;
  }
}

//========================================================================================================================================================

.button-product {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #131010;
  background: #fff;
  color: #131010;
  font-family: Inter;
  font-size: toRem(14);
  line-height: 18px; /* 130.612% */
  height: toRem(38);
  min-width: toRem(145);
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      background-color: #131010;
      color: #fff;
    }
  }
}
