//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  border-bottom: toRem(1) solid #fff;
  background-color: transparent;

  color: #fff;
  font-family: Inter;
  @include adaptiveValue("font-size", 18, 16);
  font-weight: 400;
  line-height: 150%; /* 27px */

  &::placeholder {
    color: #fff;
  }

  &:focus {
    outline: none;
  }
  &._form-focus {
  }
  &._form-error {
  }
}
.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}
