// Заголовки, загальні БЕМ блоки та інше...

.title {
  color: #262626;
  font-family: "Inter";
  @include adaptiveValue("font-size", 40, 25);
  font-weight: 800;
  line-height: 130%; /* 130% */
  letter-spacing: 0.8px;
  text-transform: uppercase;

  span {
    color: #cc1515;
  }

  &_white {
    color: #ffffff;
  }
}

//========================================================================================================================================================

.social {
  display: flex;
  @include adaptiveValue("gap", 20, 15);
  &__link {
    color: #fff;
    @include adaptiveValue("font-size", 50, 45);
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #cc1515;
      }
    }
  }
}

//========================================================================================================================================================

.pagination {
  display: flex;
  gap: toRem(10);
  .swiper-pagination-bullet {
    width: toRem(10);
    height: 10px;
    background-color: rgba(38, 38, 38, 0.6);
    border-radius: 50%;

    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #262626;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background-color: #262626;
  }
}

//========================================================================================================================================================

br.max767 {
  @media (min-width: $mobile) {
    display: none;
  }
}
