//====================================================================================================
.hero {
  position: relative;
  &__container {
  }

  &__body {
    color: #fff;
    @include adaptiveValue("padding-top", 350, 155);
    @include adaptiveValue("padding-bottom", 155, 100);

    @media (max-width: $tablet) {
      min-height: 100svh;
    }
  }

  &__title {
    @include adaptiveValue("font-size", 50, 35);
    font-weight: 800;
    line-height: 130%; /* 65px */
    letter-spacing: 0.8px;
    text-transform: uppercase;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10);
    }
  }

  &__text {
    @include adaptiveValue("font-size", 18, 16);
    line-height: 120%; /* 21.6px */
    letter-spacing: 0.18px;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 70, 40);
    }
  }

  &__button {
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

//====================================================================================================
